.body {
  background-color: #ea4c4c !important; 
}

.about-content img {
  align-items: center;
  width: 25vh;
  height: 25vh;
  padding: 25px 25px 25px 25px;
}

.flex-container {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 400px;
  width: 100%;
}

h1, h2, p {
 color: white;
 text-align: center;
}
