.about-content img {
  align-items: center;
  width: 25vh;;
  height: 25vh;
  padding: 25px 25px 25px 25px;
}

.flex-container {
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 400px;
  width: 100%;
}
