
#home-content {
  position: absolute;
  top:100%;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#home-header .flex-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home-header .flex-item {
  padding: 10px 10px 5px 10px;
}

#profile {
  height: 15vw;
  width: auto;
}

.header {
  position: static;
}
.header-text h1{
  color: white;
  font-size: 3.5vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.header-subtext h2{
  color: white;
  font-size: 1.2vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #F4F4F4 ;
}

p {
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 font-weight: 400;
 color: #000000;
}

h1 {
 font-family: 'Roboto', sans-serif;
 font-size: 36px;
 font-weight: 100;
 color: black;
}

h2 {
 font-family:'Roboto', sans-serif;
 font-size: 24px;
 font-weight: 100;
 color: #black;
}

.center{
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}
