
/* Set defaaults */
#home-content {
  position: absolute;
  top:100%;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#introduction {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5pt;
  height: 40%;
  width: 65%;
  margin: auto;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
  text-indent: 5%;
}

.var-type {
  color:rgb(192, 107, 241)
}

.var-name {
  color:rgb(63, 144, 236)
}

.var-value{
  color: rgb(218, 83, 71)
}

.flex-container {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-item {
  padding: 10px 10px 5px 10px;
  flex-shrink: 1;

}

.item-1 {
  height: 15vw;
  width: auto;
  background-color: red;
}
.item-2 {
  background-color: red;
}

.item-3 {
  background-color: yellow;
}
.header {
  position: static;
}
.header-text h1{
  color: white;
  font-size: 3.5vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.header-subtext h2{
  color: white;
  font-size: 1.2vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(17, 16, 16) !important;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.intro-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.3vw;
  font-weight: 100;
  color: white !important;
}

h2 {

  font-family:'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: white !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}