
/* Set defaaults */
#home-content {
  position: absolute;
  top:100%;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-item {
  padding: 10px 10px 5px 10px;
  flex-shrink: 1;

}

.item-1 {
  height: 15vw;
  width: auto;
  background-color: red;
}
.item-2 {
  background-color: red;
}

.item-3 {
  background-color: yellow;
}
.header {
  position: static;
}
.header-text h1{
  color: white;
  font-size: 3.5vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.header-subtext h2{
  color: white;
  font-size: 1.2vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: blue ;
}

p {
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 font-weight: 400;
 color: #000000;
}

h1 {
 font-family: 'Roboto', sans-serif;
 font-size: 36px;
 font-weight: 100;
 color: black;
}

h2 {
 font-family:'Roboto', sans-serif;
 font-size: 24px;
 font-weight: 100;
 color: #black;
}

.center{
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

/* Low resolution phones (i.e, iPhone SE) */
@media only screen and (max-width: 320px) {
  .header-text h1 {
    font-size: 10vw;
  }
  .header-text h2 {
    font-size: 4vw;
  }

  .flex-item {
    padding: 0;
  }
  .flex-item-1 {
    margin: 0;
    height: auto;
    width: 50%;
    padding-bottom: 35px;
  }
  .flex-item-2 {
    margin: 0;
  }

  .flex-item-3 {
    margin: 0;
  }
}

/* mid phones (i.e, iPhone X) */
@media only screen and (min-width: 320px) {
  .header-text h1 {
    font-size: 10vw;
  }
  .header-text h2 {
    font-size: 4vw;
  }

  .flex-item {
    padding: 0;
  }
  .flex-item-1 {
    margin: 0;
    height: auto;
    width: 55%;
    padding-bottom: 30px;
  }
  .flex-item-2 {
    margin: 0;
  }

  .flex-item-3 {
    margin: 0;
  }
}

/* high res phones (i.e, Samsung Note) */
@media only screen and (min-width: 600px) {
  .header-text h1 {
    font-size: 8vw;
  }
  .header-text h2 {
    font-size: 3vw;
  }

  .flex-item {
    padding: 0;
  }
  .flex-item-1 {
    margin: 0;
    height: auto;
    width: 40%;
    padding-bottom: 30px;
  }
  .flex-item-2 {
    margin: 0;
  }

  .flex-item-3 {
    margin: 0;
  }
}


/* tablets (i.e, Ipads) */
@media only screen and (min-width: 768px) {
  .header-text h1 {
    font-size: 7vw;
  }
  .header-text h2 {
    font-size: 2.5vw;
  }

  .flex-item {
    padding: 0;
  }
  .flex-item-1 {
    margin: 0;
    height: auto;
    width: 35%;
    padding-bottom: 30px;
  }
  .flex-item-2 {
    margin: 0;
  }

  .flex-item-3 {
    margin: 0;
  }
}


/* High-res displays (i.e, Laptops / Desktops) */
@media only screen and (min-width: 1200px) {

  .header-text h1 {
    font-size: 3.5vw;
  }
  .header-text h2 {
    font-size: 1.2vw;
  }

  .flex-item {
    padding: 0;
  }
  .flex-item-1 {
    margin: 0;
    height: 15vw;
    width: auto;
    padding-bottom: 30px;
  }
  .flex-item-2 {
    margin: 0;
  }

  .flex-item-3 {
    margin: 0;
  }
}
