
.navbar {
  background-color: #363636 !important;
}
 .navbar-nav {

 }
.navbar-nav .nav-link {
  color: white !important;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav > ul {
  align-items: center;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #B3B3B3;
}
